.chip-outer-container{
    padding: 1rem;
}

.chip-input-box{
    border: 1px solid black;
    outline: none;
    height: 3rem;
    width: 30rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.chip-display-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}